div.errors {
    padding: 10px 0;
    box-sizing: border-box;
    transition: height 0.45s;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 192, 203, 0.76);
    border: none;
    color: rgb(204, 0, 0);
    font-size: 20px;
    box-shadow:
        0px 3px 1px -2px rgba(0,0,0,0.2),
        0px 2px 2px 0px rgba(0,0,0,0.14),
        0px 1px 5px 0px rgba(0,0,0,0.12);
    margin-bottom: 10px;
}

.FormPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

ul.errorList {
    padding: 0;
    align-items: center;
    justify-items: center;
    flex-basis: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    list-style-type: none;
}

.FormPage form {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.FormPage form, .FormPage div.errors {
    width: 100%;
    max-width: 500px;
}

.FormPage input, .FormPage button {
    width: 100%;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0px;
    text-align: center;
    height: 60px;
    margin: 10px auto;
    box-shadow:
        0px 3px 1px -2px rgba(0,0,0,0.2),
        0px 2px 2px 0px rgba(0,0,0,0.14),
        0px 1px 5px 0px rgba(0,0,0,0.12);
    position: relative;
    background-color: #1B1F23;
}

.FormPage input::placeholder {
    color: rgba(211, 211, 211, 0.5)
}

.FormPage input:focus, .FormPage button:focus {
    background-color: rgb(98, 101, 105);
    outline: none;
}

.FormPage input:focus::placeholder {
    color: transparent;
}

.FormPage button:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}

.FormPage button.falseActive {
    top: 2px;
    left: 2px;
    box-shadow: none;
}
