div#userMenu {  
    display: flex;
    justify-content: space-around;
    padding-top: 2px;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}

div#userMenu > a {
    height: 35px;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
    background-color: rgb(82, 94, 105);
    background-image: linear-gradient(rgb(92, 92, 92), rgb(92, 92, 92),rgb(92, 92, 92), rgb(82, 94, 105));
}

.navBar .profile {
    position: relative;
}

.profileButtonHolder {
    font-size: 2em;
}

.navHolder {
    width: 200px;
}

.navBar button {
    font-weight: bold;
    position: relative;
    box-shadow: 1px 1px 4px black;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    background-color: #1B1F23;
}

.navBar a.active, .navBar button.active {
    display: none;
}

.navBar button:active {
    box-shadow: none;
    top: 2px;
    left: 4px;
}

.navBar button:focus {
    outline: none;
}
