.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 40px;
}

.navBar .profile {
    position: relative;
    right: 5px;
}

.profileButtonHolder {
    font-size: 2em;
}

.navHolder {
    width: 200px;
}

.navBar button {
    font-weight: bold;
    position: relative;
    box-shadow: 2px 2px 2px black;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    background-color: #1B1F23;
}

.navHolder a.active {
    display: none;
}

.navBar button:active {
    box-shadow: none;
    top: 2px;
    left: 4px;
}

.navBar button:focus {
    outline: none;
}

@media screen and (max-width: 1020px) {
    .navBar {
        margin: 0px 10px 10px 10px;
    }
}
