div.RTE {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto;
    background-color: grey;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
}

div.lamb {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    min-height: 30px;
    padding: 2px 0px;
    box-sizing: border-box;
}

div.writeContainer {
    width: 100%;
    height: 100%;
}

input.title {
    font-weight: bolder;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
    padding: 10px;
}

input.title:focus {
    outline: none;
}

input.title:focus::placeholder {
    color: transparent;
}

button.submit.createPost {
    margin-top: 10px;
    position: relative;
    width: 100px;
    height: 40px;
    justify-self: right;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: #1b1f23;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

button.submit.createPost:focus {
    outline: none;
}

button.submit.createPost:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}

#editorBar button {
    font-size: large;
    width: 33px;
    background-color: black;
    color: white;
    border: none;
    margin-right: 2px;
    border-radius: 3px;
}

#editorBar button:focus {
    outline: none;
}

img {
    height: auto;
    max-height: 500px;
    max-width: 100%;
}

#preview, div.previewContainer {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#postCreator {
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    width: 100%;
}

#postCreator, #preview {
    min-height: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 500px;
    padding: 10px;
    background-color: white;
    overflow-y: auto;
    box-shadow: 2px 2px 2px;
}

#postCreator:focus {
    outline: none;
}

#postCreator:focus::placeholder {
    color: transparent;
}
