div.RTE {
    margin: 10px auto;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

div.writeContainer {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
}

#preview img {
    height: auto;
    max-width: 100%;
}

#preview {
    z-index: 0;
    box-sizing: content-box;
    max-height: 1000px;
    padding: 10px;
    background-color: white;
    overflow-y: auto;
    box-shadow: 2px 2px 2px;
}

#postCreator {
    z-index: 2;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 2px 2px 2px;
}

#postCreator, #preview {
    height: 80%;
}

#postCreator:focus {
    outline: none;
}

#postCreator:focus::placeholder {
    color: transparent;
}
