#homeContainer {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  height: 98vh;
  overflow-y: auto;
  overflow-x: visible;
}

div.flowContainer {
  margin-top: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}

div.post.card {
  padding: 3px 5px;
  margin: 0px auto 40px auto;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(41, 41, 41);
  min-height: 200px;
}

div.post.card h1,
div.post.card h2,
div.post.card h3,
div.post.card h4,
div.post.card h5,
div.post.card h6 {
  margin: 0px;
}

pre {
  background-color: steelblue;
  color: white;
  box-sizing: border-box;
  border: 3px solid steelblue;
  color: white;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: normal;
}

code {
  font-weight: bold;
}

:not(pre) code {
  background-color: steelblue;
  color: white;
  box-sizing: border-box;
  border: 2px solid steelblue;
  border-radius: 5px;
}
