.Testing div.errors {
    box-sizing: border-box;
    transition: height 0.45s;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(255, 192, 203, 0.76);
    color: rgb(204, 0, 0);
    font-size: 20px;
}

.Testing div.form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.Testing ul {
    align-items: center;
    justify-items: center;
    flex-basis: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    list-style-type: none;
}

.Testing form {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.Testing form, .Testing div.errors {
    width: 100%;
    max-width: 500px;
}

.Testing input, .Testing button {
    width: 100%;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px;
    text-align: center;
    height: 60px;
    margin: 10px auto;
    box-shadow: 3px 3px 3px black;
    position: relative;
    background-color: #1B1F23;
}

.Testing input::placeholder {
    color: rgba(211, 211, 211, 0.5)
}

.Testing input:focus, .Testing button:focus {
    outline: none;
}

.Testing input:focus {
    background-color: rgb(98, 101, 105);
}

.Testing input:focus::placeholder {
    color: transparent;
}

.Testing button:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}
